### Compare between PandasProfiling and Sweetviz

PandasProfiling python library is best for small dataset but not for big dataset. PandasProfiling shows error
in big dataset, for this when our dataset is big we can use sweetviz python library for Powerful EDA(Exploratory Data Analysis)

In [1]:
import seaborn as sns
import pandas as pd

import sweetviz as sv

/home/hasan/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Loading Tips Dataset

In [2]:
tips = pd.read_csv('/home/hasan/DATA SET/tips.csv')

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips.shape

(244, 7)

In [5]:
tips.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

### Analyzing Using SweetViz

In [6]:
tips_report = sv.analyze([tips, 'tips'])

:FEATURES DONE:                    |                     | [  0%]   00:02  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [7]:
tips_report.show_html('tips_analysis.html')

## Loading House Price Dataset

In [8]:
house_price_train = pd.read_csv('/home/hasan/DATA SET/Housing Price AdvanceRegression/train.csv')
house_price_test = pd.read_csv('/home/hasan/DATA SET/Housing Price AdvanceRegression/test.csv')

In [9]:
house_price_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
house_price_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

### Analyzing Dataset using SweetViz

In [11]:
report = sv.analyze([house_price_train, 'house_price_train_analysis'], target_feat='SalePrice')

:FEATURES DONE:                    |█████████████████████| [100%]   00:43  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:04  -> (00:00 left)

Creating Associations graph... DONE!

In [12]:
report.show_html('house_price_sweetviz_report.html')

### Compare two dataset using SweetViz

In [13]:
report_compare = sv.compare([house_price_train, 'house_price_train_analysis'],[house_price_test, 'house_price_test_analysis'], target_feat='SalePrice')

:FEATURES DONE:                    |█████████████████████| [100%]   00:51  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:09  -> (00:00 left)

Creating Associations graph... DONE!

In [14]:
report_compare.show_html('house_price_compare_sweetviz_report.html')

### Comparing two dataframes

In [15]:
feature_config = sv.FeatureConfig(skip="MSZoning", force_text=["SaleCondition"])

In [16]:
my_report = sv.compare([house_price_train, "Training Data"], [house_price_test, "Test Data"], "SalePrice", feature_config)

:FEATURES DONE:                    |█████████████████████| [100%]   00:54  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:08  -> (00:00 left)

Creating Associations graph... DONE!

In [17]:
my_report.show_html('aaaa.html')